.creneaux {
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

.deco {
	float: right;
	margin-right: 50px;
}

.new {
	margin-left: : 500px;
}

.banniere {
	position: fixed;
	width : 100%;
}

.noBorder {
	border-width: 0px;
}

.title {
	text-align: center;
	padding-top: 50px;
}

tr, td {
	border: 1px solid black;
}

form {
	text-align: center;
	padding-top: 200px;
}